{
  "env": {
    "build": {
      "plugins": [
        "external-helpers",
        "transform-class-properties",
        "transform-object-rest-spread"
      ],
      "presets": [["env", { "modules": false }], "react"]
    }
  }
}
